*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
body{font-family: 'Lato', sans-serif;}
.container { width: 100%; height: 100vh; background: linear-gradient(to bottom, teal 15%, lightgrey 15% 100%); display: flex; align-items: center;}
.clearfix::after {
   content: '';
   display: table;
   clear: both;
}

.wrapper { width: 80%; min-width: 800px; height: 95%; background-color: rgb(220, 219, 219); margin: auto;}
.flex {display: flex;}
.flex-column {flex-direction: column;}
.ml{margin-left: 10px;}
.ml-30{margin-left: 30px;}
.mr{margin-right: 10px;}
.user-name{font-size: 18px; font-weight: 400; color: rgb(65, 65, 65);}
.display-block {display: block;}
.color-blue{color: rgb(64, 168, 224);}
.active-chat {background-color: rgb(227, 227, 227);}


/* Side common */
.side{float: left; height: 100%; background-color: white;}
.side-left{width: 450px; scrollbar-color: black;}
.side-right{width: calc(100% - 450px);}

/* Header */
.header{height: 80px; background: linear-gradient(rgb(232, 231, 231), rgb(240, 240, 240));}
.header.head-left{border-right: 1px solid gray;}
.head-left, .head-chat {display: flex; justify-content: space-between; align-items: center;}

/* Avatar */
.avatar {width: 50px; height: 100%; display: flex; align-items: center;}
.avatar > img{width: 100%; border-radius: 50%;}

/* User Actions */
.user-info{align-items: center;}
.user-actions{align-items: center;}
.user-actions > i {margin: 0 10px;}

/* Notification */
.notification{display: flex; align-items: center ;height: 80px; background-color:rgb(88, 221, 225);}
.icon-notify {display: flex; justify-content: center; align-items: center ;width: 50px; height: 50px; background-color: white; border-radius: 50%; font-size: 24px;}
.icon-notify > i {color: rgb(88, 221, 225);}
.txt-underline {font-size: 14px; font-weight: 300; text-decoration: underline; color: grey; cursor: pointer;}

/* Search contact */
.search-contact {height: 50px; background-color: rgb(240, 240, 240); align-items: center;}
.input-search {align-items: center; justify-content: center; width: 100%; height: 35px; border-radius: 3px; border: 1px solid rgb(223, 222, 222);}
.icon-search-contact{width: 90px; height: 100%; display: flex; justify-content: center; align-items: center;background-color: white; color: grey; border-right:1px solid rgb(223, 222, 222) ;}
.input-txt, .input-txt>input{width: 100%;  height: 100%; border: none}
.input-txt>input{padding-left: 20px; outline: none;}

/* Contacts */
.contacts{max-height: calc(100% - 80px - 80px - 50px);background-color: white;overflow-y: scroll;}
.contact {position: relative; height: 100px; align-items: center; border-bottom: 1px solid rgb(230, 230, 230);}
.contact:hover:not(.active-chat){background-color: rgb(237, 237, 237); cursor: pointer;}
.contact-info{height: 100%; justify-content: center; position: relative;}
.contact .last-access{position: absolute; right: 10px; top: 25%; font-size: 12px;}
.last-message{margin-top: 15px; font-weight: 300; color:rgb(176, 176, 176);}

.last-message > .fas.fa-check-double {color: rgb(64, 168, 224); font-weight: 600; margin-right: 5px;}

/* Header Chat */
.last-access{color: rgb(165, 165, 165); font-weight: 300; font-size: 14px;}

/* Body Chat */
#body-chat {width: 100%; height: calc(100% - 80px - 80px); background-image: url('../img/mine.jpg'); overflow: scroll;}

.new-message{ padding: 15px 20px; margin: 15px; width: max-content; font-weight: 400; max-width: 70%; position: relative;}
.message-received{background-color: white; align-self: flex-start; border-radius: 20px 20px 20px 0px;}
.message-sent{background-color: #92ce7e; align-self: end; border-radius: 20px 20px 0px 20px;}
.time-message{display: block; font-size: 11px; color: rgb(126, 126, 126); text-align: right; font-weight: 300; margin-top: 10px;}
.option-message{width: 100%; display: flex; justify-content: space-between;}
.option-message > i {visibility: visible; filter: brightness(0.4); cursor: pointer; margin-left: 30px; position: relative;}
.new-message:hover i {visibility: visible;}
#options-list {display:none; background-color: white; position: absolute; width: 100%; z-index: 99; border-radius: 10px;top: 100%; right: 0;}
#options-list ul {list-style: none;}
#options-list ul li{padding:5px; margin: 3px auto; cursor: pointer; }
#options-list ul li:hover{background-color: rgb(216, 216, 216);}



/* Input Chat */
.input-chat{height: 80px; background-color: #ede9e4; width: 100%; align-items: center;}
.input-chat-container{height: 60px; justify-content: space-evenly; width: 100%;}
.input-chat-text> input{border-radius: 10px;}
.icon-emoji, .icon-mic{width: 100px; display: flex; justify-content: center; align-items: center;}

.icon{font-size: 24px; color: grey;}
.icon:hover{filter: brightness(0.8); cursor: pointer;}
/* DEBUG */
/* .debug .side-left{background-color: blue;} */
/* .debug .side-right{background-color: red;} */

/* .debug .header{background-color: blueviolet;} */
/* .debug .search-contact{background-color: hotpink;} */
/* .debug .contact {background-color: indigo;} */


/* .debug .head-chat{background-color: brown;} */
/* .debug .body-chat{background-color: cadetblue;} */
/* .debug .input-chat {background-color: coral;} */